<apex:page controller="ProductListingController">
    <apex:sectionHeader title="Welcome to Shopping Cart !" subtitle="{! $User.CommunityNickname} !"/>
    <apex:pageMessages id="errors" />
    <apex:form >
        <apex:actionFunction name="addProduct" action="{!addProduct}" reRender="shoppingBag,errors">
            <apex:param name="productToAdd" value="" assignTo="{!productToAdd}" />
        </apex:actionFunction>
    </apex:form>

    <c:ShowContactDetails contact="{!order.Contact__r}"></c:ShowContactDetails>
    <c:ProductsList id="productListingSection" rendered="{!products.size > 0}" productsList="{!products}"></c:ProductsList>

    <apex:form >
        <apex:outputPanel id="shoppingBag">
            <apex:pageBlock title="Shopping Bag" mode="Edit" rendered="{!tempLineItems.size > 0}">
                <apex:pageblockTable value="{!tempLineItems}" var="obj">
                    <apex:column value="{!obj.Name}" headerValue="Name"/>
                    <apex:column value="{!obj.Quantity}" headerValue="Quantity"/>
                    <apex:column headerValue="Actions">
                        <apex:commandButton action="{! increaseQuantity }" value="+1" reRender="shoppingBag,errors">
                            <apex:param name="productToAdd" value="{!obj.ProductId}" assignTo="{!productToAdd}" />
                        </apex:commandButton>
                        <apex:commandButton action="{! decreaseQuantity }" value="-1" reRender="shoppingBag,errors">
                            <apex:param name="productToAdd" value="{!obj.ProductId}" assignTo="{!productToAdd}" />
                        </apex:commandButton>
                    </apex:column>
                    <apex:column value="{!obj.TotalPrice}" headerValue="Total Price"/>
                </apex:pageblockTable>
                <apex:outputPanel >
                    <table width="100%" border="0">
                        <tr></tr>
                        <tr>
                            <td>
                                <apex:commandButton action="{! placeOrder }" value="Place Order" />
                            </td>
                            <td><strong>Bag Value : </strong>{!bagCost}</td>
                        </tr>
                        <tr></tr>
                    </table>
                </apex:outputPanel>
            </apex:pageBlock>
        </apex:outputPanel>
    </apex:form>
    <script type="text/javascript">
        function addProductToBag(productId)
        {
            addProduct(productId);
        }
    </script>
</apex:page>