<apex:page standardController="Student__c">
    <apex:pageBlock title="Student Detail">
        <apex:pageBlockSection >
            <apex:outputText label="Student Name">{! Student__c.Name }</apex:outputText>
        </apex:pageBlockSection>
        <apex:pageBlockSection >
            <apex:outputText label="Class Name">{! Student__c.Class__r.Name }</apex:outputText>
        </apex:pageBlockSection>
    </apex:pageBlock>
</apex:page>