<apex:page standardController="Student__c" renderAs="pdf">
    <apex:pageBlock title="Student Detail">
        First Name: {!Student__c.First_Name__c}<p/><br />
    
        Last Name: {!Student__c.Name}<p/><br />
    
        Age: {!Student__c.Age__c}<p/><br />
    
        Class: {!Student__c.Class__r.Name}<p/><br />
    
        Gender: {!Student__c.Sex__c}<p/><br />
    
        Wife_Name: {!Student__c.Wife_Name__c}<p/><br />
    </apex:pageBlock>
</apex:page>