<apex:component controller="ContactsGridController">
    <apex:pageMessages id="errors" />
    <apex:form >
    <apex:pageBlock title="Get results by query">
        <apex:pageBlockSection >
            <apex:inputText value="{!query}" />
        </apex:pageBlockSection>
        <apex:pageBlockButtons >
            <apex:commandButton action="{!runQuery}" value="Run Query" reRender="results,errors" />
        </apex:pageBlockButtons>
    </apex:pageBlock>
	<apex:outputPanel id="results">
        <apex:pageBlock title="Results" rendered="{!contacts != null && contacts.size > 0}">
            <apex:pageBlockTable value="{!contacts}" var="rec" >
               <apex:repeat value="{!SelectedFields}" var="FieldLabel">
                   <apex:column >
                        <apex:facet name="header">
                            <apex:commandLink value="{!FieldLabel}" action="{!toggleSort}" rerender="results,errors">
                                <apex:param name="sortField" value="{!FieldLabel}" assignTo="{!sortField}"/>
                            </apex:commandLink>
                        </apex:facet>
                        <apex:outputField value="{!rec[FieldLabel]}"/>
                   </apex:column>
               </apex:repeat>
            </apex:pageBlockTable>

            <apex:panelGrid columns="10">
              <apex:inputText value="{!pageToOpen}" />
				<apex:commandButton action="{!goToPage}" value="Quick Go" rerender="results,errors" />
                <apex:commandLink action="{! Previous }" value="« Previous" rerender="results,errors" rendered="{! HasPrevious }"/>
                <apex:outputText style="color: #ccc;" value="« Previous" rendered="{! NOT(HasPrevious) }"/>
                    &nbsp;&nbsp;
                <apex:commandLink action="{! Next }" value="Next »" rerender="results,errors" rendered="{! HasNext }"/>
                <apex:outputText style="color: #ccc;" value="Next »" rendered="{! NOT(HasNext) }"/>
                    &nbsp;&nbsp;
                <apex:commandLink action="{! first }" rendered="{! NOT(isFirst) }" rerender="results,errors" value="« First "/>
                <apex:outputText style="color: #ccc;" value="« First " rendered="{! isFirst }"/>
                    &nbsp;&nbsp;
                <apex:commandLink action="{! last }" rendered="{! NOT(isLast) }" rerender="results,errors" value="Last »" />
                <apex:outputText style="color: #ccc;" value="Last »" rendered="{! isLast }"/>
            </apex:panelGrid>
        </apex:pageBlock>
    </apex:outputPanel>
    </apex:form>
</apex:component>